@using NSIE.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
    ViewData["IDUsuario"] = perfilUsuario.IdUsuario;
}

@model HomeIndex;

@{
    ViewData["Title"] = "Menú de Proyectos Estratégicos";
}

<div class="text-center">
    <h4 class="cp-section cp-grouping-section">
        <img src="~/img/proyecto.png" alt="Icono personalizado" class="iconomenu">
        Proyectos Estratégicos
    </h4>
</div>

<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<div class="container ps-5 pe-5">
    <h3 class="subtitulo mt-6">Selecciona una Opción</h3>

    <div class="row">
        @if (perfilUsuario.Rol == "1"  || (perfilUsuario.Rol == "4" && perfilUsuario.Unidad_de_Adscripcion == "Unidad de Planeación y Vinculación"))
        {
            <div class="col-md-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <center>
                            <img src="~/img/nuevo_documento.png" alt="Icono personalizado" class="iconomenu">
                            <h5 class="card-title2">Registrar Nuevo Proyecto</h5>
                            <p class="card-text">Agregar nuevo Proyecto Estratégico al Sistema.</p>
                            <a asp-controller="ProyEstrategicos" asp-action="AgregarProyecto" asp-route-idProyecto="1" class="btn btn-primary">Agregar</a>
                        </center>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <center>
                            <img src="~/img/nuevo_documento.png" alt="Icono personalizado" class="iconomenu">
                            <h5 class="card-title2">Agregar un Tramite</h5>
                            <p class="card-text">Agregar un tramite a un proyecto.</p>
                            <a asp-controller="ProyEstrategicos" asp-action="ListaProyectos" class="btn btn-primary">Agregar</a>
                        </center>
                    </div>
                </div>
            </div>
        }

        <div class="col-md-4">
            <div class="card mt-4">
                <div class="card-body">
                    <center>
                        <img src="~/img/dashboard.png" alt="Icono personalizado" class="iconomenu">
                        <h5 class="card-title2">Seguimiento a Proyectos Estratégicos</h5>
                        <p class="card-text">Dashboard para el seguimiento de los Proyectos Estratégicos.</p>
                        <a asp-controller="ProyEstrategicos" asp-action="ProyectosEstrategicos" class="btn btn-primary">Ver Dashboard</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
