@{
    DateTime fecha = DateTime.Now;
}

<div class="offcanvas offcanvas-start" tabindex="-1" id="ejemploOffcanvas">
    <img src="@Cdn.Url/img_snier/vistas/gobmex.svg" width="100%" style="padding-top:3%" />

    <div class="offcanvas-header">
        <h5 class="offcanvas-title titulo text-center">Comisión Reguladora de Energía - CRE </h5>



        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>

    <img src="@Cdn.Url/img_snier/vistas/logop.svg" width="100%" />

    <div class="offcanvas-body">
           <div class="container">
            <div class="row">
                <div class="col-12">

                    <h5>Detalles</h5>
                    <hr />
                    <h5 class="text-center">Mapa de Georeferenciación </h5>
                    <hr />
                   @* <p><i class="bi bi-geo-alt"></i> Propuesta de Permisos de Expendio al Público SLP</p>*@

                    <p><i class="bi bi-calendar-date"></i>Fecha de Actualización:</p>
                    <p class="text-center fst-italic">@fecha.ToString("dd/MM/yyyy")</p>
                    <p><i class="bi bi-calendar2-check"></i>Fecha de Publicación:</p>
                    <p class="text-center fst-italic">@fecha.ToString("MM/yyyy")</p>



                    <p><i class="bi bi-calendar2-check"></i>Tipo de Información:</p>
                    <p class="text-center fst-italic">Confidencial solo servidores públicos de la CRE pueden ver este contenido.</p>

                    <hr />
                </div>
           </div>
           </div>
           

              @*    <div class="row">
                      <center>
                            <div class="dropdown ">
                
                                              <button class="btn btn-secondary dropdown-toggle btn-cre-verde" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Ver por Entidad Federativa:
                                              </button>
                                              <ul class="dropdown-menu dropdown-menu-dark btn-cre-verdeclaro">


                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Aguascalientes</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Baja California</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Baja California Sur</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Campeche</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Chiapas</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Chihuahua</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Ciudad de México</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Coahuila</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Colima</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Durango</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Estado de México</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Guanajuato</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Guerrero</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Hidalgo</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Jalisco</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">México</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Michoacán</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Morelos</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Nayarit</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Nuevo León</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Oaxaca</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Puebla</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Querétaro</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Quintana Roo</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Hidrocarburos" asp-action="SLP_RPEP">San Luis Potosí</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Sinaloa</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Sonora</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Tabasco</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Tamaulipas</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Tlaxcala</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Veracruz</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Yucatán</a></li>
                                                    <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Zacatecas</a></li>
                                              </ul>
                            </div>
                       </center> 
                  </div>
*@

    </div>
             
            

  </div>


