@{
    DateTime fecha = DateTime.Now;
}

<div class="offcanvas offcanvas-start" tabindex="-1" id="ejemploOffcanvas">
    <img src="@Cdn.Url/img_snier/vistas/gobmex.svg" width="100%" style="padding-top:3%" />

    <div class="offcanvas-header">
        <h5 class="offcanvas-title titulo">Comisión Reguladora de Energía - CRE</h5>
        
    
       
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>

    <img src="@Cdn.Url/img_snier/vistas/logop.svg" width="100%" />

    <div class="offcanvas-body">
     <div class="container">
            <div class="row">
                <div class="col-12">
                  
                    <h5>Detalles</h5>
                    <hr />
                    <h5 class="text-center">Mapa de Georeferenciación </h5>
                    <hr />
                    <p><i class="bi bi-geo-alt"></i>Mapa Web de Localización</p>

                    <p><i class="bi bi-calendar-date"></i>Fecha de Actualización:</p>
                    <p class="text-center fst-italic">@fecha.ToString("dd/MM/yyyy")</p>
                    <p><i class="bi bi-calendar2-check"></i>Fecha de Publicación:</p>
                    <p class="text-center fst-italic">@fecha.ToString("MM/yyyy")</p>
                    <p><i class="bi bi-calendar2-check"></i>Tipo de Información:</p>
                    <p class="text-center fst-italic">Pública cualquiera puede ver este contenido.</p>

                    <hr />
                
                   
                    
                   

                </div>
            </div>
        </div>



    </div>

 
</div>


