@{
    DateTime fecha = DateTime.Now;
}


<div class="offcanvas offcanvas-start" tabindex="-1" id="ejemploOffcanvas">
    <button class="btn subtitulocanvas" data-bs-dismiss="offcanvas" style="font-size: 30px; display: flex; justify-content: space-between; align-items: center;">
        Información
        <i class="bi bi-x-square-fill"></i>
    </button>
    <br />

    <div class="offcanvas-header" style="padding:0!important">
        <img src="@Cdn.Url/img_snier/vistas/gobmex.svg" width="100%" style="padding-top:0%" />

    </div>


    <img src="@Cdn.Url/img_snier/vistas/lc6.png" class="icono-lateral" />
    <div class="offcanvas-body">

        <p><i class="bi bi-calendar2-check"></i>Tipo de Información:</p>
        <p class="text-center fst-italic">Confidencial solo servidores públicos de la CRE pueden ver este contenido.</p>
        <p><i class="bi bi-calendar-date"></i>Fecha de Actualización:</p>
        <p class="text-center fst-italic">@fecha.ToString("dd/MM/yyyy")</p>
        <p><i class="bi bi-calendar2-check"></i>Fecha de Publicación:</p>
        <p class="text-center fst-italic">@fecha.ToString("MM/yyyy")</p>

    </div>
</div>

