<section class="section-scroll">
    <div class="card_t">
        <span class="icon"><img src="@Cdn.Url/img_snier/vistas/evaluar.png" alt="Icono personalizado"
                class="iconomenu"></span>
        <h3 id="nacional_EF"></h3>
        <p> Entidades Evaluadas</p>
    </div>
    <div class="card_t">
        <span class="icon"><img src="@Cdn.Url/img_snier/vistas/Aprobado.png" alt="Icono personalizado"
                class="iconomenu"></span>
        <h3 id="nacional_aprobados"></h3>
        <p> Entidades con Solicitudes en Categoría "A" (No Saturadas)</p>
    </div>
    <div class="card_t">
        <span class="icon"><img src="@Cdn.Url/img_snier/vistas/NoAprobado.png" alt="Icono personalizado"
                class="iconomenu"></span>
        <h3 id="nacional_noaprobados"></h3>
        <p> Entidades con Solicitudes en Categoría "D" (Saturadas)</p>
    </div>
    <div class="card_t" data-card="nacional_ambos_card">
        <span class="icon"><img src="@Cdn.Url/img_snier/vistas/evaluacionef.png" alt="Icono personalizado"
                class="iconomenu"></span>
        <h3 id="nacional_ambos"></h3>
        <p> Entidades con Categorías "A y D"</p>
    </div>
</section>
<br />
<br />
<div class="fondo_grafico" id="grafico1"></div>
<div class="fondo_grafico" id="grafico"></div>

<div class="fondo_grafico_ef" id="graficopermiso" style="fill:#efefee !important ; height:400px"></div>
