@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


           <div id="misCheckboxes" class="row shadow-none p-3 mb-5 bg-body-tertiary rounded">
                <div class="col-md-6 ">
                    <h5 class="text-center fw-bold">Seleccione los indicadores:</h5>
                    <hr />
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="1" id="chk1" />
                        <label class="form-check-label" for="chk1">Indicador 1 - Atención al Usuario Final</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="2" id="chk2" />
                        <label class="form-check-label" for="chk2">Indicador 2 - Densidad Territorial de Expendios</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="3" id="chk3" />
                        <label class="form-check-label" for="chk3">Indicador 3 - Densidad Territorial de Vehículos</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="4" id="chk4" />
                        <label class="form-check-label" for="chk4">Indicador 4 - Marginación</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="5" id="chk5" />
                        <label class="form-check-label" for="chk5">Indicador 5 - Cuota de Mercado Petrolíferos</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="6" id="chk6" />
                        <label class="form-check-label" for="chk6">Indicador 6 - Cuota de Mercado Gasolinas</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="7" id="chk7" />
                        <label class="form-check-label" for="chk7">Indicador 7 - Tasa de Consumo Exosomático</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="8" id="chk8" />
                        <label class="form-check-label" for="chk8">Indicador 8 - Impulso al desarrollo del Sureste</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="9" id="chk9" />
                        <label class="form-check-label" for="chk9">Indicador 9 - Impulso a la electromovilidad</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="10" id="chk10" />
                        <label class="form-check-label" for="chk10">Indicador 10 - Nearshoring</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="11" id="chk11" />
                        <label class="form-check-label" for="chk11">Indicador 11 - Nuevo</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="checkboxes" value="12" id="chk12" />
                        <label class="form-check-label" for="chk12">Indicador 12 - Nuevo</label>
                    </div>



                </div>

                <div class="col-md-6  bg-body-tertiary rounded">

                    <div class="mb-3">

                        <br />
                        <div class="alert alert-info" role="alert">
                            <h4 class="alert-heading">¡Importante!</h4>
                            <p> El campo 'Umbral' no puede estar vacío, llenarse solo con espacios,tampoco puede ser  cero :"0", ni mayor a "1".</p>
                            <br />
                            <div class="input-group">
                                <input  type="number" class="form-control" placeholder="Umbral" name="umbral" id="umbral" min="0.01" max="1" step="0.01" />
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                            <hr>
                            <p class="mb-0">

                                <button type="submit" id="btnMostrar" class="btn btn-primary mt-3">Ejecutar Evaluación</button>
                                <button type="button" id="btnHabilitar" class="btn btn-primary mt-3" style="display: none">
                                    -> Haz clic aquí para realizar otra evaluación!
                                </button>

                            </p>
                        </div>



                    </div>

                </div>
            </div>


            <br />
            <div id="result-message" class="alert alert-warning pb-3 text-center" role="alert">
                <strong><i class="bi bi-exclamation-octagon-fill"></i></strong>
            </div>
            <br />
            <div class="progress mt-3" style="display: none">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
                     aria-valuemax="100">
                    Ejecutando Corrida con los Indicadores Seleccionados... (espere)
                </div>
            </div>

                   <div class="table-responsive">

                    <table id="I_CF" class="table table-hover table-responsive table-bordered" style="display:none">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Entidad Federativa</th>
                                <th>Mejores Propuestas</th>
                                <th>No Viables</th>
                                <th>Ver Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los datos se agregarán aquí desde AJAX -->
                        </tbody>
                    </table>


                </div>


<link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet" />

@section scripts{
<script src="//code.jquery.com/jquery-3.5.1.js"> </script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"> </script>
<script src="//cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"> </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>

    @*Botón Mostrar Resultados Indicadorees*@
<script>
    $("#btnMostrar").click(mostrarResultados);

    function mostrarResultados() {

        // Verificamos si el campo 'umbral' está vacío o contiene solo espacios
        var umbral = $("#umbral").val().trim();
        if (!umbral || umbral == 0 || umbral > 1) {
            $("#result-message").text("¡El campo 'Umbral' no puede estar vacío, llenarse solo con espacios, ni ser cero, ni mayor a 1!").show();
            return;
        }


        // Verificamos si se han seleccionado al menos un checkbox
        if (!$("input[type=checkbox]:checked").length) {
            $("#result-message").text("¡Debe seleccionar al menos un indicador primero!").show();
            return;
        }

        // Resto del código para mostrar los resultados

        // Iniciamos la barra de progreso
        $(".progress").show();
        $(".progress-bar").css("width", "0%");
        // Ocultamos todos los divs
        $("div[id^='div']").hide();
        // Recorremos los checkboxes y mostramos los divs seleccionados


        var count = $("input[type=checkbox]:checked").length;
        var progress = 100 / count;
        var progressValue = 0;
        $("input[type=checkbox]").each(function () {
            if ($(this).prop("checked")) {
                var idDiv = "#div" + $(this).val();
                $(idDiv).show();

                // Aumentamos la barra de progreso
                progressValue += progress;
                $(".progress-bar").css("width", progressValue + "%");
            }
        });
        // Ocultamos la barra de progreso cuando termina
        setTimeout(function () {
            $(".progress").hide();
            $("div[id^='div']:visible").each(function (index) {
                var delay = index * 500; // Retrasamos cada div en 500ms
                $(this).delay(delay).fadeIn(500);
            });
        }, 1000);

        // Ocultamos el botón "Mostrar"
        $("#btnMostrar").hide();

        // Mostramos el mensaje con los indicadores seleccionados
        var message =
            "Este es el resultado con los siguientes indicadores seleccionados:";
        $("input[type=checkbox]:checked").each(function () {
            message += " Indicador " + $(this).val();
        });
        $("#result-message").text(message).show();
        // Deshabilitamos los checkboxes
        $("input[type=checkbox]").prop("disabled", true);

        // Mostramos el botón para habilitar los checkboxes
        $("#btnHabilitar").show();

        // Mostramos el botón de resultados.
        $("#btnResultados").show();


        /////////
        // Ocultar todos los tabs
        $(".tablinks.indicator-tab").hide();

        // Recorrer los checkboxes y mostrar los tabs correspondientes
        $("input[type=checkbox]").each(function () {
            if ($(this).prop("checked")) {
                var indicatorId = $(this).val();
                $("#resultados").find(".tablinks.indicator-tab[data-indicator='" + indicatorId + "']").show();
            }
        });
        // Mostramos la sección de resultados
        $("#resultados").show();
    }

    // Función para habilitar los checkboxes y limpiarlos
    $("#btnHabilitar").click(function () {
        $("input[type=checkbox]").prop("disabled", false).prop("checked", false);
        $("#result-message").hide();
        $("#btnHabilitar").hide();
        $("#btnMostrar").show();
        $("#resultados").hide();
        // Ocultamos el botón de resultados.
        $("#btnResultados").hide();
    });

    // Ocultar result-message al cargar la página
    $(document).ready(function () {
        $("#result-message").css("display", "none");
    });
</script>



<script>
$(document).ready(function () {
    // Guarda la referencia a la tabla
    var table = $('#I_CF').DataTable({
        columndefs: [{
            targets: [0, 1, 2, 3],
            data: null,
            defaultcontent: "-"
        }],
        columns: [
            { data: "eF_ID" },
            { data: "eF_Nombre" },
            { data: "aprobados" },
            { data: "noAprobados" },
        { data: null, defaultContent: '<a href="#">Ver detalle</a>' }
        ]
    });

    $("#btnMostrar").click(function() {
        var indicadores_seleccionados = [];
        $('#misCheckboxes input:checked').each(function() {
            indicadores_seleccionados.push($(this).val());
        });

        var datos = {
            Umbral_Seleccionado: $('#umbral').val(),
            Indicadores_Seleccionados: indicadores_seleccionados
        };
        
       // alert(JSON.stringify(datos));
        
        $.ajax({
            url: '/Indicadores/recibeDatos',
            type: 'POST',
            data: JSON.stringify(datos),
            contentType: 'application/json',
            success: function(response) {
                 console.log(response); // ver la respuesta en concola
                table.clear();
                table.rows.add(response);
                table.draw();
                $('#I_CF').show();
            },
            error: function(error) {
                // Maneja el error si ocurre.
            }
        });
    });
});



</script>





 } 