@model IEnumerable<CalificacionFinal>

    <br />
    <hr />
        <div >
        <!-- Contenido del div1 -->
        <div  >
            <section id="section1" class="section_i">
                <h6 class="display-6 fw-bold titulo">Por V Parcial Calificación Final</h6>
                <blockquote class="blockquote mt-3">
                    <p>Este indicador mide la relación entre.... .</p>
                </blockquote>
                <div class="table-responsive">

                    <table id="I_CF" class="table table-hover table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th>Entidad Federativa</th>
                                <th>Resultados</th>
                                <th>Ver Detalle</th>
                       
                            </tr>
                        </thead>
                    <tbody>
                        @if (Model != null )
                        {
                            @foreach (var indicador2 in Model)
                            {
                                <tr>
                                    <td>
                                        @indicador2.Entidad_Federativa
                                    </td>

                                    <td>
                                        @indicador2.Aprobados
                                    </td>

                                    <td>

                                        <a href="#">Ver detalle</a>
                                    </td>



                                </tr>
                            }
                        }
                        else
                        {
                            <p>No hay resultados para mostrar.</p>
                        }
                    </tbody>
                    </table>


                </div>

                <div class="container m-3">
                    <div class="row ">
                        <div class="col-md-6 p-1">

                            <a class="btn btn-cre-rojo" href="#mecanismo_evaluacion"><i class="bi bi-arrow-90deg-up"></i> Regresar al Menu de Indicadores</a>
                        </div>

                        <div class="col-md-6 p-1">
                            <a class="btn btn-cre-rojo" target="_blank" asp-area="" asp-controller="Indicadores" asp-action="Index_I1"><i class="bi bi-globe-americas"></i> Ver Mapa del Indicador 1</a>
                        </div>
                    </div>
                </div>


                <hr />
            </section>
        </div>
    </div>
   


