@using NSIE.Models

@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
    ViewData["IDUsuario"] = perfilUsuario.IdUsuario;
}

@model HomeIndex;

@{
    ViewData["Title"] = "Menú de Consulta de Permisos Vigentes de Parque Vehicular";
}



@*<partial name="_Marquesina"class="display-4 titulo fw-bold " />*@
<div class="text-center">
    <h4 class="cp-section cp-grouping-section">
        <img src="~/img/proyecto.png" alt="Icono personalizado" class="iconomenu">
        Consulta de Permisos Vigentes de Parque Vehicular
    </h4>
</div>
<!-- Miga de Pan -->
<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<div class="container ps-5 pe-5">
@* @if (perfilUsuario.Rol == "0")
    { *@
    <h3 class="subtitulo mt-6">Selecciona un Parque Vehicular</h3>
    <!--//row-->
    <div class="row">
        <!-- Tarjeta: -->

        <div class="col-md-4">
            <div class="card mt-4">

                <div class="card-body">
                    <center>
                        <img src="~/img/buscar.png" alt="Icono personalizado" class="iconomenu">
                        <h5 class="card-title2"> Permisos de GLP</h5>
                        <p class="card-text ">Permisos de Transporte de Gas Licuado de Petróleo por Medios Distintos a
                            Ductos</p>
                        <a asp-controller="PermisosPV" asp-action="Permisos_PV_GLP"
                            class="btn btn-primary">Consultar</a>
                    </center>

                </div>

            </div>

        </div>
        <!-- Tarjeta:  -->
        <div class="col-md-4">
            <div class="card mt-4">

                <div class="card-body">
                    <center>
                        <img src="~/img/buscar.png" alt="Icono personalizado" class="iconomenu">
                        <h5 class="card-title2"> Permisos de GLP</h5>
                        <p class="card-text ">Parque Vehicular de Permisos de Transporte de Gas Licuado de Petróleo
                            Mediante Planta de Distribución y por Medio de Autotanques </p>
                        <a asp-controller="PermisosPV" asp-action="Permisos_PV_GLP_DIST"
                            class="btn btn-primary">Consultar</a>
                    </center>

                </div>

            </div>

        </div>



        @* } *@

    </div>
