@{
    ViewData ["Title"] = "Enviar";
}

<h1>Formulario de Contacto</h1>

<form asp-controller="Acceso" asp-action="SendEmail">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba su nombre" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Escriba su correo electrónico" />
    </div>
    <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" rows="3" placeholder="Escriba su mensaje aquí..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>