
@{
    ViewData["Title"] = "Secci贸n del sitio en Construcci贸n";
}


<center>
    <h1>Secci贸n del sitio en Construcci贸n</h1>
    <img src="/img/LogoLogin.svg">
     <button type="button" class="btn btn-primary bg-rojo" onclick="goBack()"><i class="bi bi-backspace-fill"></i> Regresar</button>

</center>

<script>
function goBack() {
  window.history.back(); 
}
</script>