<div class="row pt-3">
    <h3 class="subtitulo">Propósito</h3>
</div>
<div class="container mt-5 bg-white shadow p-3 mb-5 bg-body rounded">
    <center>
        <figure class="esquema">
            <img src="/img/Modelo_expendios.svg" alt="Icono personalizado">
            <figcaption>CRE-Propósito. </figcaption>
        </figure>

    </center>
</div>
<div class="row pt-3">
    <h3 class="subtitulo">Metodología y Alcance</h3>
</div>
<br>
<br>


<div class="alert alert-success" role="alert" style="text-align:justify">


    Conforme a las facultades otorgadas por el Artículo 42 de la Ley de los Órganos Reguladores Coordinados en
    Materia Energética (LORCME), la Comisión Reguladora de Energía (CRE) lanza la plataforma digital
    <strong>EnerGeoCRE</strong>. Esta herramienta ofrece una representación detallada del Sistema Energético
    Mexicano (SEM), enfocándose en su dinámica y los cambios que experimenta, ya sean internos o externos.
    <br><br>


    EnerGeoCRE está diseñada para proporcionar a los inversores en el sector de hidrocarburos, en una primera fase,
    información previa y especializada. Esto facilita la verificación anticipada de la <strong>viabilidad</strong>
    de ubicaciones geográficas prometedoras para invertir en <strong>expendios</strong> dentro del territorio
    nacional.

    <br><br>

    La plataforma incorpora varias dimensiones: económicas, sociales, de infraestructura, políticas públicas,
    contexto comercial y las condiciones biofísicas actuales del territorio. Utiliza una metodología interactiva que
    combina el <strong>Proceso de Análisis Jerárquico (PAJ)</strong> y el <strong>Análisis MultiCriterio
        (AM)</strong>, apoyados en sistemas de información geográfica (SIG).

    <br><br>

    EnerGeoCRE, incluye un modelo de optimización que identifica las ubicaciones geográficas óptimas para estaciones
    de servicio, orientado a inversores que buscan proyectos en entidades federativas y municipios relacionados con
    el SEM.

    <br><br>

    Esta iniciativa se fundamenta en el <strong><a
            href="https://www.dof.gob.mx/nota_detalle.php?codigo=5717263&fecha=19/02/2024#gsc.tab=0" target="_blank"
            class="href">Acuerdo Núm. A/066/2023</a></strong> de la
    Comisión Reguladora de Energía, que establece el uso de la herramienta tecnológica “EnerGeoCRE”. El propósito es
    proporcionar información gratuita a interesados en actividades reguladas y, dentro de la CRE, servir como un
    recurso adicional para el análisis y evaluación en el otorgamiento de permisos de expendio al público en
    estaciones de servicio de petrolíferos y gas LP, así como en procedimientos relacionados con la supervisión y
    administrativos de sanción.


</div>




<div class="row pt-3">
    <h3 class="subtitulo">Proceso de Análisis y Modelo</h3>
</div>
<div class="container mt-5 bg-white shadow p-3 mb-5 bg-body rounded">
    <center>
        <figure class="esquema">
            <img src="/img/Esquema_Metodologia.svg" alt="Icono personalizado">
            <figcaption>CRE-Metodología, Proceso de Análisis y Modelo. </figcaption>
        </figure>
    </center>
</div>
