@using NSIE.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
    ViewData["IDUsuario"] = perfilUsuario.IdUsuario;
}


@{
    ViewData["Title"] = "Atlas de Consumo de Electricidad por Sector a nivel GCR o Municipal de 2017-2023";
}

<div class="text-center">
    <h4 class="cp-section cp-grouping-section">
        <img src="~/img/mexico.png" alt="Icono personalizado" class="iconomenu">
       Atlas Histórico
    </h4>
</div>

<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<div class="container ps-5 pe-5">
    <h3 class="subtitulo mt-6">Selecciona una Opción</h3>

    <div class="row">

            <div class="col-md-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <center>
                            <img src="~/img/agricultura.png" alt="Icono personalizado" class="iconomenu">
                            <h5 class="card-title2">Consumo de Electricidad del Sector Agrícola a nivel GCR o Municipal de 2017-2023</h5>
                            <p class="card-text">Consulta los Mapas Históricos de Consumo Agrícola.</p>
                            <a asp-controller="Revistas" asp-action="MapasConsumoAgricola" class="btn btn-primary">Ver Mapas</a>
                        </center>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <center>
                            <img src="~/img/casas.png" alt="Icono personalizado" class="iconomenu">
                            <h5 class="card-title2">Consumo de Electricidad del Sector Residencial a nivel GCR o Municipal de 2017-2023</h5>
                            <p class="card-text">Consulta los Mapas Históricos de Consumo Residencial.</p>
                            <a asp-controller="Revistas" asp-action="MapasConsumoResidencial" class="btn btn-primary">Ver Mapas</a>
                        </center>
                    </div>
                </div>
            </div>


        <div class="col-md-4">
            <div class="card mt-4">
                <div class="card-body">
                    <center>
                        <img src="~/img/industria.png" alt="Icono personalizado" class="iconomenu">
                        <h5 class="card-title2">Consumo de Electricidad del Sector Industrial a nivel GCR o Municipal de 2017-2023</h5>
                        <p class="card-text">Consulta los Mapas Históricos de Consumo Industrial.</p>
                        <a asp-controller="Revistas" asp-action="MapasConsumoIndustrial" class="btn btn-primary">Ver Mapas</a>
                    </center>
                </div>
            </div>
        </div>
    </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <center>
                            <img src="~/img/servicio.png" alt="Icono personalizado" class="iconomenu">
                            <h5 class="card-title2">Consumo de Electricidad del Sector de Servicio Público a nivel GCR o Municipal de 2017-2023</h5>
                            <p class="card-text">Consulta los Mapas Históricos de Consumo de Servicio Público.</p>
                            <a asp-controller="Revistas" asp-action="MapasConsumoServicioPublico" class="btn btn-primary">Ver Mapas</a>
                        </center>
                    </div>
                </div>
            </div>
            
               <div class="col-md-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <center>
                            <img src="~/img/sectore.png" alt="Icono personalizado" class="iconomenu">
                            <h5 class="card-title2">Consumo de Electricidad del Sector de Energía a nivel GCR o Municipal de 2017-2023</h5>
                            <p class="card-text">Consulta los Mapas Históricos de Consumo de Energía.</p>
                            <a asp-controller="Revistas" asp-action="MapasConsumoSectorEnergia" class="btn btn-primary">Ver Mapas</a>
                        </center>
                    </div>
                </div>
            </div>
       
    </div>
</div>
