@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using NSIE.Models
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);
    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
}

@{
    ViewData["Title"] = "Patrón Metabólico del Sistema Energético Mexicano";
}

<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="~/img/metabolismo.png" alt="Icono personalizado" class="iconomenu">
        @ViewData["Title"]
    </h3>
</div>


<!-- Miga de Pan -->
<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
            @* <li class="breadcrumb-item"><a href="@Url.Action("Menu_Eventos", "Eventos" )">Certificados de Energías
            Limpias</a></li> *@
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<div class="container ps-5 pe-5 pb-5">
    <div class="row">
        <div class="col-md-12">
          
          
                    <h2 class="subtitulo mb-3">¿Qué es el análisis metabólico de la energía?</h2>
                    <br>
                    <p style="text-align: justify;">
                        El análisis metabólico nos permite entender el ritmo con la cual un sistema consume y/o procesa energía para sus usos internos y el excedente lo entrega a distintos usos finales para que estos cumplan una tarea específica. Para llevar a cabo este análisis, es necesario considerar el modelo de flujo-fondo-stock propuesto por Georgescu Roegen (1971) para poder llevar a cabo una contabilidad del sistema.
                    </p>
                    <p style="text-align: justify;">
                        El elemento fondo es algo que permanece igual a lo largo de la duración del análisis. Por ejemplo, la tierra de cultivo. Hay un ciclo de preparación, siembra y cosecha. La tierra permanece después de la cosecha para reiniciar un ciclo posterior. Los flujos son cosas que se consumen o se producen. Puede ser la energía consumida o entregada. Aparecen o desaparecen durante la realización del análisis. Los stocks es una cantidad que está concentrada, y que se va reduciendo en el tiempo. Una reserva de petróleo, gas, carbón o minerales.
                    </p>
                    <p style="text-align: justify;">
                        Podemos relacionar estos tres elementos con el ejemplo de una gasolinera. 
                        El módulo despachador es el elemento fondo. La gasolina es el elemento flujo y el stock puede 
                        ser el nivel interior del tanque donde la gasolina se almacena, los barriles de gasolina o diésel, y el petróleo crudo son las reservas que tiene un país. 
                        La velocidad con que se consume el flujo de gasolina y que desaparece al ser convertida en energía mecánica, 
                        con relación al número de vehículos en un municipio por día, nos permite cuantificar una 
                        tasa de consumo por hora o día y con ello conocer su perfil metabólico.
                    </p>
                    <p style="text-align: justify;">
                        Si este mismo ejercicio lo hacemos para todos los sectores económicos de una región, entidad federativa o país, nos podemos preguntar: ¿cuánto y qué tipos de flujo (electricidad, calor o combustible), fondos y stocks estos usos finales necesitarán el próximo mes o año y a qué velocidad?
                    </p>
                    <p style="text-align: justify; font-size: smaller; color:cadetblue">
                        <i>
                        <strong>Referencia:</strong> Georgescu–Roegen N., <em>The Entropy Law and the Economic Process</em>, Harvard University Press, Cambridge, 1971, p. 214.
                        </i>
                    </p>
             
                    <br>
                           <div class="shadow p-3 mb-5 bg-white rounded">
                                <img src="~/gif/mosaico.gif" alt="Mosaico" class="img-fluid">
                           </div>
        
        </div>
    </div>
</div>

<div class="container ps-5 pe-5">
    <div class="row">
        <div class="col-md-12">
          
          
                    <h2 class="subtitulo mb-3">Análisis de la fuerza del hiperciclo a diferentes niveles ligando la energía con el tiempo de las actividades humanas y los sectores económicos</h2>
                    <br>
                    <p style="text-align: justify;">
                    Se reconoce que los sectores de producción primaria y secundaria (PS) no solo estabilizan la oferta de energía, alimentos, productos y tecnología, sino que también generan el excedente necesario para sostener el funcionamiento de otros sectores, como los servicios y la administración pública (SG), y para respaldar las actividades de consumo final en los hogares (HH). La integración eficiente del sector de PS aumenta la fuerza del hiperciclo, lo cual resulta clave para fortalecer la capacidad del sistema para sostener una estructura compleja y disipada.   
                    </p>
                    <p style="text-align: justify;">>
                    Un hiperciclo fuerte garantizará un flujo elevado y constante de recursos (energía o materiales) esenciales hacia el resto de la sociedad permitiendo la diversificación de actividades, el crecimiento económico, la alta disponibilidad de excedentes, y la reducción de costos de transacción. 
                   </p>
                    <p style="text-align: justify;">
                    El gráfico en particular muestra la relación esperada entre los elementos de fondo (factores de producción) y flujos (modelo de Georgescu Roegen) necesarios para lograr la congruencia en el presupuesto dinámico de energía ante una presión bioeconomica interna o externa (Giampietro et al. 2013).
                    </p>

                    <p style="text-align: justify; font-size: smaller; color:cadetblue">
                        <i>
                        <strong>Referencia:</strong> Giampietro M., Mayumi K. and Sorman A.H. 2013.  <em>Energy Analysis for a Sustainable Future. </em>Multi-scale integrated analysis of societal and ecosystem metabolism. First edition published 2013 by Routledge. 2 Park Square, Milton Park, Abingdon, Oxon, OX14 4RN.
                        </i>
                    </p>
             
                    <br>
                    <div class="shadow p-3 mb-5 bg-white rounded">
                        <img src="~/gif/fhe.gif" alt="Mosaico" class="img-fluid">
                    </div>
                
                    
        
        </div>
    </div>
</div>

<div class="container ps-5 pe-5 pt-5">

        <h2 class="subtitulo mb-3">Perfil Metabólico del Sistema Eléctrico Nacional</h2>

    <div class="row mb-3">
        <div class="col-md-3 col-sm-6 mb-3">
            <label for="yearSelect" class="form-label">Selecciona el Año:</label>
            <select id="yearSelect" onchange="updateChart()" class="form-select">
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023" selected>2023</option>
            </select>
        </div>
        <div class="col-md-9 col-sm-6">
            <div id="container" style="width:100%; height:400px;"></div>
        </div>
    </div>
        <h2 class="subtitulo mb-3">Histórico 2017-2023</h2>
     <div class="shadow pt-3 mb-5 bg-white rounded">

        <img src="~/img/tasa/tasa.gif" alt="Tasa de Consumos Metabólicos" class="img-fluid"
            style="max-width: 100%; height: auto; margin-bottom: 20px;">
    </div>
</div>

@section Scripts {

    <script>
        const dataByYear = {
            2017: {
                productividad: [0.28, 0.16, 0.37, 0.37, 0.36, 0.63, 0.63, 0.27, 0.44],
                tasaMetabolica: [0.23, 0.12, 0.23, 0.33, 0.35, 0.34, 0.15, 0.36, 0.34]
            },
            2018: {
                productividad: [0.28, 0.15, 0.37, 0.37, 0.36, 0.63, 0.62, 0.26, 0.44],
                tasaMetabolica: [0.24, 0.13, 0.23, 0.33, 0.35, 0.37, 0.16, 0.34, 0.34]
            },
            2019: {
                productividad: [0.28, 0.16, 0.37, 0.37, 0.36, 0.63, 0.62, 0.27, 0.44],
                tasaMetabolica: [0.25, 0.13, 0.23, 0.33, 0.35, 0.37, 0.15, 0.36, 0.34]
            },
            2020: {
                productividad: [0.23, 0.12, 0.30, 0.30, 0.29, 0.51, 0.50, 0.21, 0.35],
                tasaMetabolica: [0.21, 0.12, 0.21, 0.33, 0.35, 0.33, 0.13, 0.35, 0.34]
            },
            2021: {
                productividad: [0.25, 0.14, 0.33, 0.33, 0.33, 0.57, 0.56, 0.24, 0.40],
                tasaMetabolica: [0.23, 0.12, 0.20, 0.33, 0.35, 0.32, 0.14, 0.38, 0.35]
            },
            2022: {
                productividad: [0.26, 0.15, 0.35, 0.34, 0.34, 0.59, 0.58, 0.25, 0.41],
                tasaMetabolica: [0.25, 0.12, 0.20, 0.33, 0.36, 0.35, 0.14, 0.37, 0.40]
            },
            2023: {
                productividad: [0.31, 0.17, 0.40, 0.40, 0.39, 0.68, 0.68, 0.29, 0.48],
                tasaMetabolica: [0.27, 0.12, 0.21, 0.33, 0.38, 0.34, 0.14, 0.44, 0.38]
            }
        };

        // Inicializar el gráfico
        const chart = Highcharts.chart('container', {
            chart: {
                type: 'area',  // Gráfico de barras
                backgroundColor: '#efefee'
            },
            title: {
                text: 'Productividad Laboral y Tasa Metabólica por Región'
            },
            xAxis: {
                categories: [
                    'Peninsular', 'Oriental', 'Occidental', 'Norte', 'Noroeste',
                    'Noreste', 'Central', 'Baja California Sur', 'Baja California'
                ],
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
            yAxis: [{
                title: {
                    text: 'Productividad Laboral ($USD/h)'
                },
                labels: {
                    format: '{value} $'
                }
            }, {
                title: {
                    text: 'Tasa Metabólica (kWh/h)'
                },
                labels: {
                    format: '{value} kWh'
                },
                opposite: true
            }],
            tooltip: {
                shared: true,
                valueDecimals: 2
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: [{
                name: 'Productividad Laboral ($USD/h)',
                data: dataByYear[2023].productividad,
                yAxis: 0
            }, {
                name: 'Tasa Metabólica (kWh/h)',
                data: dataByYear[2023].tasaMetabolica,
                yAxis: 1
            }]
        });

        // Función para actualizar el gráfico cuando se selecciona un año
        function updateChart() {
            const selectedYear = document.getElementById('yearSelect').value;
            chart.series[0].setData(dataByYear[selectedYear].productividad);
            chart.series[1].setData(dataByYear[selectedYear].tasaMetabolica);
            chart.setTitle({ text: `Productividad Laboral y Tasa Metabólica por Región (${selectedYear})` });
        }
    </script>
}
