@model NSIE.Models.EditUserViewModel
@inject IHttpContextAccessor HttpContextAccessor
@using NSIE.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json


@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
    ViewData["IDUsuario"] = perfilUsuario.IdUsuario;
    ViewData["Title"] = "Editar Usuario";
}





<div class="text-center">
    <h3 class="cp-section cp-grouping-section"> <img src="@Cdn.Url/img_snier/vistas/mexicoi.png" alt="Icono personalizado"
            class="iconomenu">@ViewData["Title"]</h3>
</div>

<br />

<div class="container mt-5">

    <form asp-action="Edit" method="post" class="mt-4">
        <h6 class="display-6 fw-bold subtitulo pl-3%">Información del Usuario</h6>
        <input type="hidden" asp-for="IdUsuario" />
        <div class="row p-3">
            <div class="col-md-6 form-group">
                <label asp-for="Nombre">Nombre Completo:</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="RFC">RFC:</label>
                <input asp-for="RFC" class="form-control" />
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Correo">Correo:</label>
                <input asp-for="Correo" type="email" class="form-control" />

                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Cargo">Cargo:</label>
                <input asp-for="Cargo" class="form-control" />
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Unidad_de_Adscripcion">Unidad de Adscripción</label>
                <input asp-for="Unidad_de_Adscripcion" class="form-control" />
            </div>

            <div class="col-md-6 form-group">
                <label asp-for="ClaveEmpleado">ClaveEmpleado:</label>
                <input asp-for="ClaveEmpleado" class="form-control" />
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="SesionActiva">Sesión Activa:</label>
                <input asp-for="SesionActiva" type="checkbox" class="form-check-input" />
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Vigente">Usuario Vigente:</label>
                <input asp-for="Vigente" type="checkbox" class="form-check-input" />
            </div>


        </div>



        <h6 class="display-6 fw-bold subtitulo pl-3%">Roles del Usuario</h6>
        <div class="row p-3">
            @* <input asp-for="Rol_ID" />*@
            <div class="col-md-6 form-group">
                <label asp-for="Rol_Nombre">Rol actual:</label>
                <input id="currentRole" asp-for="Rol_Nombre" class="form-control" readonly />
                <select id="roleSelector" class="form-control" style="display: none;" asp-for="Rol_ID"
                    asp-items="@(ViewBag.Roles as IEnumerable<SelectListItem>)">
                </select>

            </div>


            <div class="col-md-6 form-group">
                <label asp-for="Mercado_Nombre">Mercado actual:</label>
                <input id="currentMarket" asp-for="Mercado_Nombre" class="form-control" readonly />
                <select id="marketSelector" class="form-control" style="display: none;" asp-for="Mercado_ID"
                    asp-items="@(ViewBag.Mercados as IEnumerable<SelectListItem>)">
                </select>
            </div>

            <div class="col-md-12 form-group">
                <label asp-for="RolUsuario_Comentarios">Comentarios:</label>
                <input asp-for="RolUsuario_Comentarios" class="form-control" />
            </div>
        </div>

        <div class="mt-4 pb-4">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>

            <a asp-controller="Usuarios" asp-action="AdministrarUsuarios" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>

</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#Correo").on("focusout", function () {
                var correoUsuario = $(this).val();
                if (!correoUsuario.includes("@@")) { // Escapar el "arroba" aquí
                    $(this).val(correoUsuario + "@@energia.gob.mx"); // Y aquí
                }
            });

            $('input[type="text"]').blur(function () {
                var inputValue = $(this).val();
                $(this).val($.trim(inputValue));
            });

            // Cuando el usuario hace clic en el campo de texto...
            $("#currentRole").click(function () {
                // Ocultamos el campo de texto y mostramos el dropdown
                $(this).hide();
                $("#roleSelector").show();
            });

            // Cuando el usuario selecciona una nueva opción del dropdown...
            $("#roleSelector").change(function () {
                // Actualizamos el campo de texto con el nuevo valor y volvemos a mostrarlo
                $("#currentRole").val($("#roleSelector option:selected").text());
                $("#currentRole").show();

                // Ocultamos nuevamente el dropdown
                $(this).hide();
            });

            // Para los mercados...
            $("#currentMarket").click(function () {
                $(this).hide();
                $("#marketSelector").show();
            });

            $("#marketSelector").change(function () {
                $("#currentMarket").val($("#marketSelector option:selected").text());
                $("#currentMarket").show();
                $(this).hide();
            });

        });

        document.getElementById('roleSelector').addEventListener('change', function () {
            console.log('Valor seleccionado:', this.value);
        });

        document.getElementById('marketSelector').addEventListener('change', function () {
            console.log('Valor Mercado:', this.value);
        });
    </script>
}
