@{
  ViewData["Title"] = "EnerGeoCRE - Consulta Pública";
}
<br>
<!-- Miga de Pan -->
<nav
  style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
  aria-label="breadcrumb" style="padding-left:15px">
  <ol class="breadcrumb lp-5">
    <li class="breadcrumb-item"><a href="@Url.Action("MapaSPP", "Indicadores" )">Evalúa tu Solicitud de Expendio</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
  </ol>
</nav>


<div class="container">

  <br>

  <h3 class="subtitulo"> ¿Como evaluar mi solicitud de expendio?</h1>
    <br>
    <video width="100%" height="auto" controls="">
      <source src="/video/evaluación_2024.mp4" type="video/mp4">
      ¡Tu navegador no soporta este video!
    </video>

    <a class="btn btn-cre-verde" asp-controller="Indicadores" asp-action="MapaSPP"
      style="display: inline-block; width: 200px; text-align: center;"><i class="bi bi-backspace-fill"></i>
      Regresar</a>


</div>

<script>
  function goBack() {
    window.history.back();
  }
</script>