@model int

@{
    var visitasFormateadas = Model.ToString("N0", System.Globalization.CultureInfo.InvariantCulture);
}

<p class="text-light small mb-1">Total de visitas: <span class="fw-semibold">@visitasFormateadas</span></p>
<div class="cinta"></div>