
@{
    ViewData["Title"] = "¡Gracias!";
}


<div class="container">
    <div class="row ">
        <div class="col">
            <center>
                <header>
                <hr />
                <h1>Reicbimos tu correo ¡Exitosamente!</h1>
                <p>¡Muy pronto nos pondremos en contacto contigo!</p>
                <hr />
                </header>
                <main>
                <img src="/img/email.png" class="img-fluid">
               <hr />

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-cre-rojo" data-toggle="tooltip" data-placement="bottom" title="" asp-controller="Home" asp-action="Index"> <i class="bi bi-backspace-fill"></i> &nbsp; Regresar</a>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>


                </main>
           <hr />
            </center>
          
        </div>
    </div>
</div>




<script>
function goBack() {
  window.history.back();
}
</script>