@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using NSIE.Models
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Gracias";
}




<div class="text-center">
    <h4 class="cp-section cp-grouping-section">
        <img src="~/img/analisis.png" alt="Icono personalizado" class="iconomenu">
        @ViewData["Title"]
    </h4>
</div>

<!-- Miga de Pan -->
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb" style="padding-left:15px">
    <ol class="breadcrumb lp-5">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
        @* <li class="breadcrumb-item">
        <a href="#" onclick="history.back(); return false;">Regresar</a>
        </li> *@
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

<div class="container">

    <h3 class="subtitulo">¡Gracias por tu participación!</h3>
    <br>
    <p>Tu opinión ha sido recibida con éxito.</p>
    <center>
        <div class="mb-4">
            <img src="/img/energeo_circulo.png" height="300px" width="auto">

        </div>

        <a class="btn btn-danger" href="@Url.Action("Index", "Home")">Volver al inicio</a>
    </center>


</div>




<!-- Scripts -->
@section scripts {



}