@model IEnumerable<NSIE.Models.UserActivityModel>

<div class="table-responsive">
    <table id="UsuariosActivos" class="table table-hover table-responsive table-bordered">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Página</th>
                <th>Acción</th>
                <th>Hora</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.UserName</td>
                    <td>@usuario.PageName</td>
                    <td>@usuario.ActionName</td>
                    <td>@usuario.Timestamp.ToString("HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
