@{
	ViewData["Title"] = "Sección del sitio en Construcción";
}
<div class="text-center">
	<h3 class="cp-section cp-grouping-section"> <img src="~/img/conding.png" alt="Icono personalizado"
			class="iconomenu">@ViewData["Title"]</h3>
</div>



<div class="container mb-3">
	<div class="row">
		<div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
			<div class="app-branding text-center mb-5">

			</div><!--//app-branding-->
			<div class="app-card p-5 text-center shadow-sm">

				<div class="mb-4">
					<img src="/img/logo_snier.png" class="img-fluid" width="100%">

				</div>
				<button class="btn btn-cre-rojo" onclick="goBack()" data-toggle="tooltip" data-placement="bottom"
					title="">
					<i class="bi bi-backspace-fill"></i> &nbsp; Regresar
				</button>
			</div>
		</div><!--//col-->
	</div><!--//row-->
</div><!--//container-->





<script>
	function goBack() {
		window.history.back();
	}
</script>