@{
    DateTime fecha = DateTime.Now;
}

<div class="offcanvas offcanvas-start" tabindex="-1" id="ejemploOffcanvas">
    <div style="padding-top:3%">
        <img src="@Cdn.Url/img_snier/vistas/gobmex.svg" width="100%" />
    </div>

    <div class="offcanvas-header">
        <h5 class="offcanvas-title subtitulo1 text-center">Comisión Reguladora de Energía - CRE</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>

    <div class="offcanvas-body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5>
                        <i class="bi bi-geo-alt"></i> Visualizador Web
                    </h5>
                    <hr />

                    <p>
                        <i class="bi bi-calendar-date"></i> Fecha de Actualización:
                    </p>
                    <p class="text-center fst-italic">@fecha.ToString("dd/MM/yyyy")</p>

                    <p>
                        <i class="bi bi-calendar2-check"></i> Fecha de Publicación:
                    </p>
                    <p class="text-center fst-italic">@fecha.ToString("MM/yyyy")</p>

                    <p>
                        <i class="bi bi-calendar2-check"></i> Tipo de Información:
                    </p>
                    <p class="text-center fst-italic">Pública: Cualquier persona puede consultar este contenido.</p>

                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>
