@model Mep


@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using NSIE.Models
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
}



@{
    ViewData["Title"] = "Infraestructura del SEN -  Nucleoeléctrica";
}

<div class="text-center">
    <h4 class="cp-section cp-grouping-section">
        <img src="/img/nuclear.png" alt="Icono personalizado" class="iconomenu" />
        @ViewData["Title"]
    </h4>
</div>


<!-- Miga de Pan -->
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb" style="padding-left:15px">
    <ol class="breadcrumb lp-5">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Inicio</a></li>
        @*  <li class="breadcrumb-item"><a href="@Url.Action("Hidrocarburos", "Home" )">Sector Petróleo y Gas</a></li>*@
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>

@*Sección que Despliega el Mapa Inicial*@
<div class="container">
    <h2 class="fw-bold   subtitulo ">Infraestructura de Energía Nucleoeléctrica</h2>

    <section id="despliega_mapa" class="pb-5">

        <br />

        <div class="app-card-header p-3 border-0">

            @*Menu*@
            <div class="navbarmapag">


                <a id="electricidad" class="icono-texto">
                    <img src="/img/nuclear.png" alt="Icono personalizado" class="iconomenu" />
                    <span>Nucleoeléctrica</span>

                    <div id="total_electricidad"></div>
                </a>


            </div>



            <div id="main-container">

            <div class="row g-4 mb-4">
                <div class="col">
                    <div class="app-card app-card-chart h-100 shadow-sm">

                        <div class="search-container p-3" id="search-container">
                            <label class="form-label">Buscar en el Mapa:</label>
                            <input type="text" id="busquedaGeneralInput" class="form-control" placeholder="Número de Permiso, Entidad Federativa o Municipio">
                            <div id="autocomplete-list" class="autocomplete-items"></div>
                            <!-- El resto de tu código -->

                            <button class="btn btn-cre-rojo-home" onclick="buscarGeneral()" style="width:10% !important"><i class="bi bi-search"></i></button>
                        </div>

                        @*Menu de Botones*@
                        <div class="container-fluid">
                        </div>
                        <div class="app-card-body p-4">
                            <div class="chart-container">
                                <div id="" class="app-card-body p-4">
                                    <div class="row">

                                        <div class="row">
                                            <div class="col-lg-12 d-flex align-items-center">
                                                <button id="fullscreen-btn" class="btn btn-primary">Pantalla Completa</button>
                                                <div id="alert-message" class="alert alert-info ms-3" role="alert" style="margin-left: 15px; padding: 10px; background-color: #FCFEE7; border-left: 6px solid #DEF321; color: #818F31;">
                                                    Para el caso del mercado de electricidad, las ubicaciones corresponden a la dirección proporcionada en la documentación del permiso otorgado que puede corresponder a la ubicación física de central eléctrica que representa.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-lg-8">
                                                <div id="map" class="p-3 bg"></div>
                                            </div>
                                            <div class="col-lg-4">
                                                <table cellspacing="0" border="0">
                                                    <colgroup width="107"></colgroup>
                                                    <colgroup width="138"></colgroup>
                                                    <tr>
                                                        <td colspan=2 rowspan=2 height="43" align="center" valign=middle><b><font face="Montserrat" size=4>Simbología</font></b></td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                    <tr>
                                                        <td colspan=2 rowspan=3 height="64" align="center" valign=middle><font face="Montserrat" size=1>Reserva de Uranio. Concentración Partes por millón (PPM)</font></td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan=2 height="43" align="center" valign=middle><font face="Montserrat">Bajo</font></td>
                                                        <td rowspan=2 align="left">
                                                            <font face="Montserrat">
                                                                <br><img src="~/Geovisualizador/images/u1.png" width=33 height=33 hspace=52 vspace=5>
                                                            </font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan=3 height="64" align="center" valign=middle><font face="Montserrat">Intermedio</font></td>
                                                        <td rowspan=3 align="center" valign=middle>
                                                            <font face="Montserrat">
                                                                <br><img src="~/Geovisualizador/images/u2.png" width=48 height=46 hspace=45 vspace=10>
                                                            </font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                    <tr>
                                                        <td rowspan=3 height="64" align="center" valign=middle><font face="Montserrat">Alto</font></td>
                                                        <td rowspan=3 align="center" valign=middle>
                                                            <font face="Montserrat">
                                                                <br><img src="~/Geovisualizador/images/u3.png" width=58 height=59 hspace=39 vspace=3>
                                                            </font>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                    <tr>
                                                    </tr>
                                                    <tr>
                                                        <td colspan=2 rowspan=2 height="43" align="center" valign=middle><i><font face="Montserrat" size=1>Fuente: Servicio Geológico Nacional (<a href="https://www.sgm.gob.mx/CartasPdf/Inicio.jsp" target="_blank">https://www.sgm.gob.mx/CartasPdf/Inicio.jsp</a>)</font></i></td>
                                                    </tr>
                                                </table>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="leyenda pt-3">
                                        <p>Mayor Concentración</p>
                                        <p>Concentración Promedio</p>
                                        <p>Menor Concentración</p>
                                        <p> Ductos</p>
                                    </div>
                                    <br />
                                    <div class="" id="grafico"></div>
                                    @* <div class="" id="grafico2"></div> *@
                                    <br />
                                </div>
                            </div>
                      

                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </section>

    <style>
        #fullscreen-search-container {
            background-color: white;
        }

        #fullscreen-elements {
            display: flex;
            flex-direction: column;
            height: auto; /* Valor inicial para cuando no esté en pantalla completa */
        }

        #fullscreen-last-update,
        #fullscreen-select,
        #fullscreen-search-container {
            flex-shrink: 0;
        }

        #map {
            flex-grow: 1;
        }

        #main-container.fullscreen-active #fullscreen-elements {
            height: 100vh;
        }

        #main-container.fullscreen-active #map {
            height: calc(100vh - 60px);
        }

        #main-container:not(.fullscreen-active) #map {
            height: 500px;
        }
    </style>


</div>

@*Script de Pantalla Completa*@
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const mapElement = document.getElementById('map');
        const fullscreenButton = document.getElementById('fullscreen-btn');
        const searchContainer = document.getElementById('search-container');
        const mainContainer = document.getElementById('main-container');
        const fullscreenElements = document.createElement('div');
        fullscreenElements.id = 'fullscreen-elements';

        const originalMapParent = mapElement.parentNode;
        const originalSearchParent = searchContainer.parentNode;
        const originalMapNextSibling = mapElement.nextSibling;
        const originalSearchNextSibling = searchContainer.nextSibling;

        fullscreenButton.addEventListener('click', () => {
            if (!document.fullscreenElement) {
                mainContainer.appendChild(fullscreenElements); // Asegurarnos de que fullscreenElements esté en el DOM
                fullscreenElements.appendChild(searchContainer);
                fullscreenElements.appendChild(mapElement);
                fullscreenElements.requestFullscreen().catch(err => {
                    alert(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
                });
            } else {
                document.exitFullscreen();
            }
        });

        document.addEventListener('fullscreenchange', (event) => {
            if (document.fullscreenElement) {
                fullscreenButton.textContent = "Salir de Pantalla Completa";
                mainContainer.classList.add('fullscreen-active');
                mapElement.style.height = "calc(100vh - 60px)";
                searchContainer.style.backgroundColor = "white";
            } else {
                fullscreenButton.textContent = "Pantalla Completa";
                if (originalSearchNextSibling) {
                    originalSearchParent.insertBefore(searchContainer, originalSearchNextSibling);
                } else {
                    originalSearchParent.appendChild(searchContainer);
                }
                if (originalMapNextSibling) {
                    originalMapParent.insertBefore(mapElement, originalMapNextSibling);
                } else {
                    originalMapParent.appendChild(mapElement);
                }
                mainContainer.classList.remove('fullscreen-active');
                mapElement.style.height = "500px";

                // Asegurarse de que los estilos se restablezcan
                fullscreenElements.style.height = 'auto'; // Restablecer altura a su valor inicial
            }
        });
    });
</script>

@*Shapes Estados*@
<script type="text/javascript" src="~/Geovisualizador/shapes/estadosminlight.js"></script>
<script type="text/javascript" src="~/Geovisualizador/shapes/municipiosminlight.js"></script>

<script src="~/Geovisualizador/data/Uranio_0.js"></script>


@section scripts {

    <script type="text/javascript" src="/js/configura_mapa.js"></script>


    <script type="text/javascript" src="/js/I_nuclear.js"></script>

}