@using NSIE.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
    ViewData["IDUsuario"] = perfilUsuario.IdUsuario;
}

@model HomeIndex;

@{
    ViewData["Title"] = "Menú de Evetos Emergentes";
}

<div class="text-center">
    <h4 class="cp-section cp-grouping-section">

        <img src="~/img/proyecto.png" alt="Icono personalizado" class="iconomenu">
        Eventos Emergentes del Sistema Energético Mexicano
    </h4>
</div>

<div class="alert alert-light" role="alert">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb" style="padding-left:15px">
        <ol class="breadcrumb lp-5">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>
<div class="container ps-5 pe-5">
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <i class="fas fa-info-circle me-2"></i>
        <div>
            Para mayor información sobre eventos emergentes, consulta la siguiente liga de CONAGUA:
            <a href="https://smn.conagua.gob.mx/es/8-smn-general/observando-el-tiempo/observando-el-tiempo/pronosticos/pronosticossubmenu/imagen-interpretada"
                class="alert-link" target="_blank">Observando el Tiempo</a>.
        </div>
    </div>
    <h3 class="subtitulo mt-6">Selecciona una Opción</h3>
    <br>
    <iframe
        src="https://www.rainviewer.com/map.html?loc=21.9354,-93.2912,4.710489741062903&oFa=1&oC=1&oU=1&oCS=1&oAP=1&o=83&lm=1&layer=sat-rad&mlayer=1&sm=1&sn=1&ts=1"
        width="100%" frameborder="0" style="border:0;height:50vh;" allowfullscreen></iframe>

    <br>
    <div class="row pt-5">
        <!-- Huracán Beryl -->
        <div class="col-md-4 mb-3">
            <div class="card card-custom border-primary" style="width: 18rem; height: auto;">
                <img src="~/img/eventos/beryl.gif" class="card-img-top" alt="Icono personalizado"
                    style="height: 150px; object-fit: cover;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="subtitulo">Huracán Beryl</h5>
                    <div class="alert alert-light fade show" role="alert">
                        <p class="card-text text-justify">Seguimiento de la Trayectoria del Huracán Beryl.</p>
                    </div>
                    <a asp-controller="Eventos" asp-action="E_Huracan_Beryl" class="btn btn-primary mt-auto">Ver
                        Detalles</a>
                    <a href="https://zoom.earth/storms/beryl-2024/" target="_blank"
                        class="btn btn-secondary mt-auto">Ver en Zoom Earth</a>
                </div>
            </div>
        </div>

        <!-- Huracán John -->
        <div class="col-md-4 mb-3">
            <div class="card card-custom border-primary" style="width: 18rem; height: auto;">
                <img src="~/img/eventos/john.gif" class="card-img-top" alt="Icono personalizado"
                    style="height: 150px; object-fit: cover;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="subtitulo">Huracán Jonh</h5>
                    <div class="alert alert-light fade show" role="alert">
                        <p class="card-text text-justify">Seguimiento de la Trayectoria del Huracán Beryl.</p>
                    </div>
                    <a asp-controller="Eventos" asp-action="E_Huracan_John" class="btn btn-primary mb-2">Ver
                        Detalles</a>
                    <a href="https://zoom.earth/storms/john-2024/" target="_blank" class="btn btn-secondary mt-auto">Ver
                        en Zoom Earth</a>
                </div>
            </div>
        </div>

        <!-- Huracán Eleven -->
        <div class="col-md-4 mb-3">
            <div class="card card-custom border-primary" style="width: 18rem; height: auto;">
                <img src="~/img/eventos/11E.gif" class="card-img-top" alt="Icono personalizado"
                    style="height: 150px; object-fit: cover;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="subtitulo">Huracán Eleven</h5>
                    <div class="alert alert-light fade show" role="alert">
                        <p class="card-text text-justify">Seguimiento de la Trayectoria del Huracán Eleven.</p>
                    </div>
                    <a asp-controller="Eventos" asp-action="E_Huracan_Eleven" class="btn btn-primary mt-auto">Ver
                        Detalles</a>
                    <a href="#" target="_blank" class="btn btn-secondary mt-auto">Ver en Zoom Earth</a>
                </div>
            </div>
        </div>

        <!-- Huracán Rafael (Enlace a Zoom Earth) -->
        <div class="col-md-4 mb-3">
            <div class="card card-custom border-primary" style="width: 18rem; height: auto;">
                <img src="~/img/eventos/rafael.gif" class="card-img-top" alt="Icono personalizado"
                    style="height: 150px; object-fit: cover;">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="subtitulo">Huracán Rafael</h5>
                    <div class="alert alert-light fade show" role="alert">
                        <p class="card-text text-justify">Seguimiento de la Trayectoria del Huracán Rafael en Zoom
                            Earth.</p>
                    </div>
                    <a asp-controller="Eventos" asp-action="E_Huracan_Rafael" class="btn btn-primary mb-2">Ver
                        Detalles</a>
                    <a href="https://zoom.earth/storms/rafael-2024/" target="_blank"
                        class="btn btn-secondary mt-auto">Ver en Zoom Earth</a>
                </div>
            </div>
        </div>
    </div>
</div>
