@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;

    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");

    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);



    // Utilizar los datos del usuario para personalizar la vista

    ViewData["NombreUsuario"] = perfilUsuario.Nombre;

    ViewData["RolUsuario"] = perfilUsuario.Rol;

    ViewData["MercadoUsuario"] = perfilUsuario.Mercado_ID;
}

@{
    ViewData["Title"] = "Actividad Sospechosa";
}
<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="@Cdn.Url/img_snier/vistas/alarma.png" alt="Icono personalizado" class="iconomenu" />@ViewData["Title"]
    </h3>
</div>

<!-- Miga de Pan -->

<center>

    <div class="container container ps-5 pe-5">
        <div class="alert alert-danger" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <h4 class="alert-heading">Detectamos un intento de Actividad Sospechosa!</h4>
            <p>Hemos reportado y rastreado tu IP.</p>
            <hr>

        </div>
    </div>

</center>

<script>
    function goBack() {
        window.history.back();
    }
</script>