<!-- Sección de encabezado -->
<section class="container my-5 p-4 bg-white shadow-sm rounded">
    <h1 class="h2 subtitulobus">Apéndice D</h1>
    <br>
    <h2 class="h5">SSolicitud de Inscripción para
        Entidades Voluntarias al Sistema de Gestión
        de Certificados y Cumplimiento de
        Obligaciones de Energías Limpias

    </h2>
</section>
<!-- Sección del formulario -->
<section class="container my-5 p-4 bg-white shadow-sm rounded">
    @* <form> *@
    <!-- Título del formulario -->
    <h3 class="text-center my-4">Solicitud de Inscripción para Entidades Voluntarias</h3>

    <!-- Sección de uso exclusivo de la CRE -->
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <label for="expediente" class="form-label">Núm. de expediente:</label>
            <input type="text" class="form-control" id="expediente">
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label for="registro" class="form-label">Núm. de Registro:</label>
            <input type="text" class="form-control" id="registro">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <label for="turno" class="form-label">Núm. de turno:</label>
            <input type="text" class="form-control" id="turno">
        </div>
    </div>

    <!-- Datos del solicitante -->
    <h4 class="h5 mb-3">I. Datos del Solicitante</h4>
    <div class="row">
        <div class="col-12 mb-3">
            <label for="nombre" class="form-label">Nombre, denominación o razón social:</label>
            <input type="text" class="form-control" id="nombre">
        </div>
        <div class="col-12 mb-3">
            <label for="rfc" class="form-label">R.F.C.:</label>
            <input type="text" class="form-control" id="rfc">
        </div>
    </div>

    <!-- Domicilio -->
    <h5 class="h6 mb-3">I.2 Domicilio</h5>
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <label for="calle" class="form-label">Calle:</label>
            <input type="text" class="form-control" id="calle">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="numExterior" class="form-label">Núm. exterior:</label>
            <input type="text" class="form-control" id="numExterior">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="numInterior" class="form-label">Núm. interior:</label>
            <input type="text" class="form-control" id="numInterior">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <label for="colonia" class="form-label">Colonia:</label>
            <input type="text" class="form-control" id="colonia">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="codigoPostal" class="form-label">Código postal:</label>
            <input type="text" class="form-control" id="codigoPostal">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="poblacion" class="form-label">Población:</label>
            <input type="text" class="form-control" id="poblacion">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <label for="municipio" class="form-label">Municipio o delegación:</label>
            <input type="text" class="form-control" id="municipio">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="entidadFederativa" class="form-label">Entidad federativa:</label>
            <input type="text" class="form-control" id="entidadFederativa">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="telefono" class="form-label">Teléfono con clave LADA:</label>
            <input type="tel" class="form-control" id="telefono">
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <label for="correo" class="form-label">Correo electrónico:</label>
            <input type="email" class="form-control" id="correo">
        </div>
    </div>

    <!-- Representante Legal -->
    <h5 class="h6 mb-3">I.3 Información del Representante Legal</h5>
    <div class="row">
        <div class="col-12 mb-3">
            <label for="nombreRepresentante" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="nombreRepresentante">
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label for="escrituraPublica" class="form-label">Escritura pública núm.:</label>
            <input type="text" class="form-control" id="escrituraPublica">
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label for="notario" class="form-label">Nombre y núm. del Notario:</label>
            <input type="text" class="form-control" id="notario">
        </div>
    </div>

    <!-- Domicilio para notificaciones -->
    <h5 class="h6 mb-3">I.4 Domicilio para oír y recibir notificaciones</h5>
    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <label for="calleNotificaciones" class="form-label">Calle:</label>
            <input type="text" class="form-control" id="calleNotificaciones">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="numExteriorNotificaciones" class="form-label">Núm. exterior:</label>
            <input type="text" class="form-control" id="numExteriorNotificaciones">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="numInteriorNotificaciones" class="form-label">Núm. interior:</label>
            <input type="text" class="form-control" id="numInteriorNotificaciones">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <label for="coloniaNotificaciones" class="form-label">Colonia:</label>
            <input type="text" class="form-control" id="coloniaNotificaciones">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="codigoPostalNotificaciones" class="form-label">Código postal:</label>
            <input type="text" class="form-control" id="codigoPostalNotificaciones">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="poblacionNotificaciones" class="form-label">Población:</label>
            <input type="text" class="form-control" id="poblacionNotificaciones">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mb-3">
            <label for="municipioNotificaciones" class="form-label">Municipio o delegación:</label>
            <input type="text" class="form-control" id="municipioNotificaciones">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="entidadFederativaNotificaciones" class="form-label">Entidad federativa:</label>
            <input type="text" class="form-control" id="entidadFederativaNotificaciones">
        </div>
        <div class="col-12 col-md-4 mb-3">
            <label for="telefonoNotificaciones" class="form-label">Teléfono con clave LADA:</label>
            <input type="tel" class="form-control" id="telefonoNotificaciones">
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-3">
            <label for="correoNotificaciones" class="form-label">Correo electrónico:</label>
            <input type="email" class="form-control" id="correoNotificaciones">
        </div>
    </div>

    <!-- Autorización de notificaciones vía correo -->
    <h5 class="h6 mb-3">I.5 ¿Autoriza a la CRE a notificar cualquier acto relacionado con esta solicitud vía correo
        electrónico?</h5>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="autorizacion" id="autorizacionSi" value="Sí">
        <label class="form-check-label" for="autorizacionSi">Sí</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="autorizacion" id="autorizacionNo" value="No">
        <label class="form-check-label" for="autorizacionNo">No</label>
    </div>

    <!-- Solicitudes previas -->
    <h4 class="h5 mb-3">II. Solicitudes previas de registro</h4>
    <P class="justify-text">
        En caso de que se hayan solicitado anteriormente entrada al Sistema de Gestión de Certificados y Cumplimiento
        de Obligaciones de
        Energías Limpias
    </P>
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <label for="fechaIngreso" class="form-label">Fecha de ingreso de la documentación:</label>
            <input type="date" class="form-control" id="fechaIngreso">
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label for="numTurno" class="form-label">Número de turno con el que fue recibida en la CRE:</label>
            <input type="text" class="form-control" id="numTurno">
        </div>
    </div>

    <!-- Firma del representante -->
    <div class="mb-4">
        <label for="representante" class="form-label">Nombre y Firma del Representante Legal:</label>
        <input type="text" class="form-control" id="representante" placeholder="Nombre del representante legal">
    </div>
    @* </form> *@
</section>

<!-- Instrucciones adicionales -->
<section class="container my-5 p-4 bg-white shadow-sm rounded">
    <h4 class="subtitulobus mb-3">Instrucciones para llenar el formato:</h4>
    <p>Para la correcta presentación de este formato de solicitud e integración de los documentos anexos, deberá atender
        a lo siguiente:</p>
    <ul>
        <li>Este formato se llena con pleno conocimiento de lo que se hace, bajo protesta de decir verdad.</li>
        <li>Presentar el formato llenado en su totalidad, a través de la Oficialía de partes electrónica, utilizando la
            firma FIEL del representante legal de la Entidad Voluntaria solicitante.</li>
        <li>El solicitante deberá presentar junto con la solicitud los documentos anexos de forma electrónica en formato
            PDF.</li>
    </ul>

    <!-- Documentos anexos -->
    <h4 class="subtitulobus mb-3">Documentos anexos:</h4>
    <ul>
        <li>Copia simple del Acta Constitutiva de la Entidad Voluntaria, en su caso.</li>
        <li>Copia simple del Acta donde se otorga el Poder Notarial al Representante Legal, en su caso.</li>
        <li>Copia del pago de derechos realizado por medio del esquema electrónico para el pago de derechos, productos y
            aprovechamientos e5cinco para el registro dentro del Sistema de Gestión de Certificados y Cumplimiento de
            Obligaciones de Energías Limpias.</li>
    </ul>

    <!-- Fundamento Jurídico -->
    <h4 class="subtitulobus mb-3">Fundamento Jurídico:</h4>
    <p class="justify-text">
        Artículo 28, párrafo octavo de la Constitución Política de los Estados Unidos Mexicanos; Artículos 2, fracción
        III, y 43 Ter de la Ley Orgánica de la Administración Pública Federal; Artículos 2, fracción II, 3, 4, párrafo
        primero; 5, 14, 22, fracciones I, II, III, IV, VIII, IX, X, XI, XII, XIII, XXVI, inciso a), y XXVII, 25,
        fracciones VII, X y XI, 27; 41, fracción III, y 42 de la Ley de los Órganos Reguladores Coordinados en Materia
        Energética; Artículos 1, 2, 3, 4 fracción V, 12 fracciones XVI, XVII, XX, XXXIII, XLIII, XLV, XLVI, 125, 126
        fracción III, 127 y 128 de la Ley de la Industria Eléctrica; Artículos 26 fracción VII, 83 del Reglamento de la
        Ley de la Industria Eléctrica; Numerales 10, 11, 12, 16, 24, 27, 28, 29, 30, 31 de los Lineamientos que
        establecen los criterios para el otorgamiento de los Certificados de Energías Limpias y Artículos 2, 4, 13, 15,
        16, 17, 17-A, 17-B, 18, 28, 29, 30, 31, 32, 57, fracción 1, 63 al 69 y 69-H de la Ley Federal de Procedimiento
        Administrativo.
    </p>

    <!-- Plazo de resolución -->
    <h4 class="subtitulobus mb-3">Plazo de Resolución del Trámite:</h4>
    <p class="justify-text">
        El tiempo total para que la CRE resuelva sobre la solicitud de Inscripción para Entidades Voluntarias al Sistema
        de Gestión de Certificados y Cumplimiento de Obligaciones de Energías Limpias es de 20 días hábiles a partir de
        que ésta sea admitida a trámite.
    </p>

    <!-- Atención de aclaraciones, quejas y denuncias -->
    <h4 class="subtitulobus mb-3">Atención de Aclaraciones, Quejas y Denuncias:</h4>
    <ul>
        <li>Para cualquier aclaración, duda y/o comentario con respecto a este trámite, sírvase llamar al Sistema de
            Atención Telefónica a la Ciudadanía (SACTEL) a los teléfonos 3003-2000 en el D.F. y área metropolitana, o al
            01-800-112-05-84 desde el Interior de la República sin costo. Desde Estados Unidos y Canadá puede
            comunicarse al 1-888-475-2393.</li>
        <li>El Órgano Interno de Control en la Comisión Reguladora de Energía pone a disposición de la ciudadanía los
            siguientes medios para la captación de quejas, denuncias, sugerencias, reconocimientos e inconformidades:
        </li>
        <ul>
            <li>Teléfono en el D.F. y área metropolitana: 4124-1906.</li>
            <li>Vía Internet: <a href="http://www.cre.gob.mx/formacre.html"
                    target="_blank">http://www.cre.gob.mx/formacre.html</a></li>
            <li>Teléfono adicional para D.F. y área metropolitana: 5283-1515.</li>
        </ul>
    </ul>

    <!-- Unidad Administrativa -->
    <h4 class="subtitulobus mb-3">Unidad Administrativa ante la que se presenta y resuelve el trámite:</h4>
    <ul>
        <li>La unidad administrativa ante la que se presenta este formato y sus documentos anexos es la Comisión
            Reguladora de Energía, vía Oficialía de Partes Electrónica, en <a href="https://www.ope.cre.gob.mx/"
                target="_blank">https://www.ope.cre.gob.mx/</a>. Para más información sobre la inscripción en la
            Oficialía de Partes Electrónica, ingrese a <a href="http://www.cre.gob.mx/ope.html"
                target="_blank">http://www.cre.gob.mx/ope.html</a>.</li>
        <li>La unidad administrativa que resuelve sobre la solicitud de Inscripción para Entidades Voluntarias al
            Sistema de Gestión de Certificados y Cumplimiento de Obligaciones de Energías Limpias es la Comisión
            Reguladora de Energía.</li>
    </ul>

    <!-- Identificación del trámite -->
    <h4 class="subtitulobus mb-3">Identificación del Trámite:</h4>
    <ul>
        <li>Trámite al que corresponde el formato de solicitud: Inscripción al Sistema de Gestión de Certificados y
            Cumplimiento de Obligaciones de Energías Limpias.</li>
        <li>Homoclave en el Registro Federal de Trámites y Servicios: CRE-15-037.</li>
        <li>Fecha de autorización del formato de solicitud por parte de la COFEMER: 14 de noviembre de 2017.</li>
    </ul>
</section>

<!-- Pie de página -->
<footer class="text-center text-muted py-3">
    <p>&copy; 2024 Comisión Reguladora de Energía (CRE)</p>
</footer>

<hr>