@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using NSIE.Models
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
}



@{
    ViewData["Title"] = "Asistente";
}

<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="~/img/chat.png" alt="Icono personalizado" class="iconomenu">
        @ViewData["Title"]
    </h3>
</div>


                           

  



<div class="container">
    <h2 class="fw-bold   subtitulo ">Chat con EnerGeoCRE</h2>
    <br>
<br>
    <form asp-action="Ask" method="post">
        <div class="form-group mb-5">
            <label for="prompt">Por favor Pregunta:</label>
            <br>
            <br>
<br>
            <input type="text" class="form-control" id="prompt" name="prompt" placeholder="Escribe aquí tu pregunta...">
        </div>
     
        <button type="submit" class="btn btn-cre-rojo">Preguntar</button>
    </form>

    <br>
    @if (Model != null)
    {
        <div class="alert alert-info pt-3" role="alert">
            <p>Respuesta de Energeo:</p>
            <p>@Model</p>
        </div>
    }
</div>




