@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using NSIE.Models
@inject IHttpContextAccessor HttpContextAccessor

@{
    var httpContext = HttpContextAccessor.HttpContext;
    var perfilUsuarioJson = httpContext.Session.GetString("PerfilUsuario");
    var perfilUsuario = JsonConvert.DeserializeObject<PerfilUsuario>(perfilUsuarioJson);

    // Utilizar los datos del usuario para personalizar la vista
    ViewData["NombreUsuario"] = perfilUsuario.Nombre;
    ViewData["RolUsuario"] = perfilUsuario.Rol;
}



@{
    ViewData["Title"] = "Asistente del Marco Regulatorio de Hidrocarburos";
}

<div class="text-center">
    <h3 class="cp-section cp-grouping-section">
        <img src="~/img/chat.png" alt="Icono personalizado" class="iconomenu">
        @ViewData["Title"]
    </h3>
</div>


                           


<div class="container">
<h2 class="fw-bold   subtitulo ">Marco Regulatorio Hidrocarburos </h2>
<br>
<br>
    <div id="chatbot-instructions" class="alert alert-success">
        <h2>Instrucciones de Uso del Asistente</h2>
        <p>Bienvenido al chatbot de asistencia. Por favor, sigue estas sencillas reglas para una mejor experiencia:</p>
        <ul>
            <li><strong>Sé respetuoso:</strong> Evita el uso de lenguaje ofensivo o groserías.</li>
            <li><strong>Sé claro y conciso:</strong> Formula tus preguntas o comentarios de manera directa y puntual para obtener respuestas más efectivas.</li>
            <li><strong>No compartas información personal:</strong> Evita dar datos sensibles como números de tarjeta, contraseñas o información personal íntima.</li>
            <li><strong>Sé paciente:</strong> A veces, las respuestas pueden tardar un poco. No repitas la misma pregunta varias veces seguidas.</li>
            <li><strong>Uso adecuado:</strong> Este chatbot está diseñado para asistirte en temas específicos. No está destinado a reemplazar interacciones humanas en situaciones complejas o de emergencia.</li>
        </ul>
        <p>Si tienes alguna duda sobre cómo usar este servicio, no dudes en preguntar. ¡Estamos aquí para ayudarte!</p>
    </div>
</div>



@section scripts{

<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/80c75378-a3c6-4dcc-b96f-5ab80661a586/webchat/config.js" defer></script>

}