@model Indicador2_Clase
@{
    ViewData["Title"] = "Crear Indicador";

}

<h1>Crear tipo de Indicador</h1>
<h5>Los Indicadores: Son tomados en cuenta para la corrida del Modelo. </h5>
<div asp-validation-summary="ModelOnly" class="alert-danger"></div>

<form asp-controller="Indicadores" asp-action="Crear">
    <div class="mb-3">

        <label asp-for="Usuario" class="form-label"></label>
        <input type="text" asp-for="Usuario" class="form-control" />
        <span asp-validation-for="Usuario" class="text-danger"></span>

    </div>
    <div class="mb-3">

        <label asp-for="Email" class="form-label"></label>
        <input  asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>
    <div class="mb-3">

        <label asp-for="EmailNormalizado" class="form-label"></label>
        <input asp-for="EmailNormalizado" class="form-control" />
        <span asp-validation-for="EmailNormalizado" class="text-danger"></span>

    </div>
    <div class="mb-3">

        <label asp-for="PasswordHash" class="form-label"></label>
        <input asp-for="PasswordHash" class="form-control" />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>

    </div>
@*<div class="mb-3">

        <label asp-for="URL" class="form-label"></label>
        <input asp-for="URL" class="form-control" />
        <span asp-validation-for="URL" class="text-danger"></span>

    </div>*@
        <button type="submit" class="btn btn-cre-rojo">ENVIAR</button>
</form>

   @section Scripts{
    <partial name="_ValidationScriptsPartial" />
   }